:root {
  --c1: hsl(205, 0%, 98%);
  --c2: hsl(0, 0%, 50%);
  --c3: hsl(206, 15%, 40%);
  --c4: hsl(0, 0%, 36%);
  --c5: hsl(0, 0%, 24%);
  --accent-color: hsl(203, 74%, 42%);
  --selection-color: hsl(203, 56%, 36%);
  --reference-item-background: hsl(0, 0%, 8%);
  --ref-hover-bg-color: hsl(204, 20%, 17%);
  --border-color: rgba(255, 255, 255, 0.25);
  --subtle-border-color: rgba(255, 255, 255, 0.07);
  --search-border-color: rgba(255, 255, 255, 0.06);
  --page-background-color: hsl(0, 0%, 8%);
  --main-area-background-color: hsl(0, 0%, 12%);
  --cards-background-color: hsl(0, 0%, 20%);
  --secondary-background-color: hsl(0, 0%, 18%);
  --popup-background-color: hsl(0, 0%, 16%);
  --brackets-color: rgba(255, 255, 255, 0.3);
  --empty-text-color: hsl(203, 5%, 70%);
}

.rm-highlight,
.block-highlight-yellow {
  background-color: #5a5016 !important;
}

.bp3-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.rm-embed-container {
  background-color: #2b3033 !important;
}
